@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Kode Mono, "Courier New", Courier, monospace;
}
body {
  background-color: #000;
}
.container {
  padding-left: 10px;
  padding-right: 10px;
}
#header {
  height: 60px;
  width: 100%;
}
#header a:hover {
  background-color: rgba(255, 255, 255, 0.05);
  transition: background-color 0.3s ease;
}
.home-grid {
  height: 90vh;
}
